<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="portable-net40+sl50+wp80+win" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="portable-net40+sl50+wp80+win" />
  <package id="Microsoft.Net.Http" version="2.2.20" targetFramework="portable-net40+sl50+wp80+win" />
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="portable-net40+sl4+wp7+win8" />
  <package id="Rackspace.Net.UriTemplate" version="1.0.0-beta001" targetFramework="portable-net40+sl50+wp80+win" />
  <package id="Rackspace.Threading" version="1.0.0-beta002" targetFramework="portable-net40+sl50+wp80+win" />
</packages>