<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="netcore45" />
  <package id="Rackspace.Net.UriTemplate" version="1.0.0-beta001" targetFramework="netcore45" />
  <package id="Rackspace.Threading" version="1.0.0-beta001" targetFramework="netcore45" />
</packages>